body{
  margin:0;
  font-family:sans-serif;
  background:#f7fbff;
  color:#111;
}

header{
  text-align:center;
  padding:40px 20px;
}

header h1{
  font-size:40px;
  margin-bottom:10px;
}

header p{
  color:#666;
}

main{
  columns:3;
  column-gap:20px;
  padding:20px;
}

.card{
  background:white;
  border-radius:20px;
  overflow:hidden;
  margin-bottom:20px;
  break-inside:avoid;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.card img{
  width:100%;
  display:block;
}

.card-content{
  padding:15px;
}

.card h2{
  margin-top:0;
}

.tags{
  margin:10px 0;
}

.tags span{
  background:#dff4ff;
  color:#0084b4;
  padding:6px 12px;
  border-radius:999px;
  font-size:12px;
  margin-right:5px;
}

button{
  width:100%;
  border:none;
  background:#111;
  color:white;
  padding:14px;
  border-radius:999px;
  cursor:pointer;
  font-size:16px;
  margin-top:10px;
}